* {
    margin: 0;
    padding: 0;

}

body {
    overflow: hidden;
}

.sky {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('sky.jpg');
    position: absolute;
    object-fit: cover;
    background-size: cover;
    animation: cloudmove .22s linear infinite;
}

span {
    background-image: url('cloud.png');
    border: 1px solid red;
}

@keyframes cloudmove {
    100% {
        /* transform: translate(-10px); */
    }
}

.tree {
    height: 100vh;
    width: 100%;
    background-image: url('tree2.com.png');
    background-size: cover;
    position: absolute;
    top: -90px;
}

.track {
    height: 40vh;
    width: 800vw;
    position: absolute;
    background-image: url('trac1.jpg');
    /* background-size: cover; */
    top: 75vh;
    background-repeat: repeat;

    animation: carmove 9s linear infinite;

}

/* car move */
@keyframes carmove {
    100% {
        transform: translateX(-500vw);
    }
}

.car {
    width: 660px;
    height: 550px;
    background: url('car.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 400px;
    bottom: 70px;
    animation: shake 7s linear infinite;
}



.left img {
    position: relative;
    width: 90px;
    left: 119px;
    top: 166px;
    height: 95px;
    border-radius: 50%;
    animation: wheelmotionl .6s linear infinite;
}

.right img {
    position: relative;
    width: 90px;
    left: 456px;
    top: 68px;
    height: 95px;
    z-index: 1;
    animation: wheelmotionr .6s linear infinite;
}

/* left wheel motion */
@keyframes wheelmotionl {
    0% {
        transform: rotate(-360deg);
    }
}

/* right wheel motion */
@keyframes wheelmotionr {
    0% {
        transform: rotate(-360deg);
    }
}



@keyframes shake {
    0% {
        transform: translatey(-5px);
    }

    50% {
        transform: translatey(120px) rotate(-4deg);
    }

    100% {
        transform: translatey(-5px);
    }
}