* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(19, 8, 209);
    background: linear-gradient(339deg, rgba(19, 8, 209, 1) 1%, rgba(99, 61, 245, 0.8687850140056023) 62%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    background: url('backGround/04.jpg');
    background-position: 100% 100%;
    background-size: cover;
}

.head-up-display {
    flex: 0 0 50%;
    border-radius: 50px;
    color: rgba(246, 211, 12, 0.829);
    margin: 33px auto -50px auto;
    display: flex;
    justify-content: space-between;
}

.questionContainer,
.scoreContainer {
    width: 30%;
    border: 2px gray solid;
    height: 50px;
    border-radius: 50px;
    box-shadow: inset 9px 5px 25px gray;
}

.progressBar {
    width: 100%;
    /* background: yellow; */
    height: 100%;

}

#progressBarFull {
    width: 33%;
    height: 100%;
    background: linear-gradient(45deg, #b3ffff, #00b3b3);
    text-align: center;
    border-radius: 50px;
    box-shadow: inset 9px 5px 25px gray;



}

#progressBarFull span {
    position: relative;
    font-size: 30px;
    top: 10px;
    font-weight: 900;
    text-shadow: 2px 2px 3px black;
}

.scoreContainer {
    background: linear-gradient(45deg, #b3ffff, #00b3b3);
    text-align: center;
    box-shadow: inset 9px 5px 25px gray;
}

#scoredisplay {
    position: relative;
    font-size: 30px;
    top: 10px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px 3px black;



}

.container {
    box-shadow: inset 19px 29px 121px rgba(128, 128, 128, 0.115);
    max-width: 60%;
    padding: 10px;
    border-radius: 13px;
}

.container #question {
    margin-bottom: 50px;
    background: linear-gradient(45deg, #b3ffff, #00b3b3);
    border-radius: 50px;
    color: rgba(46, 44, 44, 0.854);
    text-shadow: 2px 0px 2px gray;
    font-size: 1.5em;
    padding: 15px 9px;
    text-align: center;
    box-shadow: inset 9px 9px 30px gray;
}

.container .choice_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: red 1px dotted; */

    width: 100%;

}

.choice {
    display: flex;
    /* border: blue solid 1px; */
    width: 100%;
    margin-top: 12px;
    cursor: pointer;
    transition: all .1s;
    border-radius: 25px;
    box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.456);

}

.choice:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 12px rgb(35, 22, 22);
}

.choice:hover .choice_prefix {

    animation: color .5s linear infinite;
}

@keyframes color {
    0% {
        color: antiquewhite;
    }

    30% {
        color: green;
    }

    80% {
        color: pink;
    }

    100% {
        color: gold;
    }
}

.choice_prefix {
    padding: 15px 30px;
    background: linear-gradient(45deg, gray, black);
    color: yellow;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
}

.choices_text {
    padding: 15px;
    box-shadow: inset 5px 5px 19px gray;
    width: 100%;
    border-radius: 0 25px 25px 0;
    color: rgb(25, 11, 11);
    font-size: 20px;
    /* color: rgba(46, 44, 44, 0.854); */
    text-shadow: 2px 0px 2px rgb(80, 80, 80);
    font-weight: 900;
    letter-spacing: 4px;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}